@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@500;700&family=Tangerine:wght@400;700&family=Volkhov:wght@700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
color: color(noir);
}

$colors :(
noir:#191919,
primary:#DF6951,
secondary :#F1A501,
font-light: #181E4B,
font-dark: #212832,
font: #5E6282,
);

$border-height : 1px;

@function color($color-name){
@return map-get($colors, $color-name)
}

$desktop :800px;

@mixin desktop {
  @media (min-width : #{$desktop}){
  @content;
  }
}

.forme {
  position: absolute;
  z-index: -5;
  right: 0;
  top: 0;
}

header {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 15vh;
  background-color: transparent;
  margin: auto;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    width: 20%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 70%;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      li {
        display: flex;
        list-style: none;
        align-items: center;

        a {
          display: flex;
          text-decoration: none;
          color: color(font-dark);
          align-items: center;
        }
      }

      li:nth-child(6) {
        border: color(noir) $border-height solid;
        border-radius: 5px;
        padding: 0.5em 1em;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;

  .haut {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    align-items: center;

    .txt {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;

      .destination {
        h3 {
          text-transform: uppercase;
          color: color(primary);
          font-family: 'Poppins';
          font-size: 20px;
        }
      }

      .titre {
        h1 {
          font-family: 'Volkhov', serif;
          color: color(font-light);
          font-size: 84px;
          line-height: 89px;
        }
        svg {
          position: absolute;
          left: 350px;
          top: 330px;
          z-index: -1;
        }
      }

      .content {
        width: 70%;
        p {
          font-family: 'Poppins';
          color: color(font);
          font-size: 16px;
          line-height: 30px;
          font-weight: 500;
        }
      }

      .cta {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;

        button:nth-child(1) {
          background-color: color(secondary);
          font-family: 'Poppins';
          border: none;
          border-radius: 10px;
          padding: 1em 1.5em;
          font-weight: 500;
          color: #fff;
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          width: 40%;
        }

        button:nth-child(2) {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: transparent;
          border: none;
          font-family: 'Poppins';
          font-size: 17px;
          text-transform: capitalize;
          color: color(font);
          width: 40%;
          justify-content: space-between;

          .play {
            display: flex;
            width: 52px;
            height: 52px;
            background-color: color(primary);
            border-radius: 50%;
            box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
            align-items: center;
            justify-content: center;

            ion-icon {
              color: #fff;
              width: 60%;
              height: 60%;
            }
          }
        }
      }

    }

    .img {
      width: 50%;

      .plane:nth-child(1) {
        position: absolute;
        margin-top: 50px;
      }

      .plane:nth-child(2) {
        position: absolute;
        margin-top: 150px;
        margin-left: 450px;
        z-index: -1;
      }

      .fond {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 105%;
          margin-left: -250px;
        }
      }

    }
  }

  .category {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: center;
  }
}