@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@600&family=Poppins:wght@500;600;700&family=Tangerine:wght@400;700&family=Volkhov:wght@700&display=swap');

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
color: color(noir);
}

$colors :(
noir:#191919,
primary:#DF6951,
secondary :#F1A501,
font-light: #181E4B,
font-dark: #212832,
font: #5E6282,
);

$border-height : 1px;

@function color($color-name){
@return map-get($colors, $color-name)
}

$desktop :800px;

@mixin desktop {
  @media (min-width : #{$desktop}){
  @content;
  }
}

body {
  height: 800vh;
}

.forme {
  position: absolute;
  z-index: -5;
  right: 0;
  top: 0;
}

header {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 15vh;
  background-color: transparent;
  margin: auto;
  align-items: center;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    width: 20%;
  }

  .menu {
    display: flex;
    flex-direction: row;
    width: 70%;

    ul {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      li {
        display: flex;
        list-style: none;
        align-items: center;

        a {
          display: flex;
          text-decoration: none;
          color: color(font-dark);
          align-items: center;
        }
      }

      li:nth-child(6) {
        border: color(noir) $border-height solid;
        border-radius: 5px;
        padding: 0.5em 1em;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;

  .first {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80vh;
    align-items: center;

    .txt {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 80%;

      .destination {
        h3 {
          text-transform: uppercase;
          color: color(primary);
          font-family: 'Poppins';
          font-size: 20px;
        }
      }

      .titre {
        h1 {
          font-family: 'Volkhov', serif;
          color: color(font-light);
          font-size: 84px;
          line-height: 89px;
        }
        svg {
          position: absolute;
          left: 430px;
          top: 330px;
          z-index: -1;
        }
      }

      .content {
        width: 70%;
        p {
          font-family: 'Poppins';
          color: color(font);
          font-size: 16px;
          line-height: 30px;
          font-weight: 500;
        }
      }

      .cta {
        display: flex;
        flex-direction: row;
        width: 60%;
        justify-content: space-between;

        button:nth-child(1) {
          background-color: color(secondary);
          font-family: 'Poppins';
          border: none;
          border-radius: 10px;
          padding: 1em 1.5em;
          font-weight: 500;
          color: #fff;
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          width: 40%;
          cursor: pointer;
        }

        button:nth-child(2) {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: transparent;
          border: none;
          font-family: 'Poppins';
          font-size: 17px;
          text-transform: capitalize;
          color: color(font);
          width: 40%;
          justify-content: space-between;
          cursor: pointer;

          .play {
            display: flex;
            width: 52px;
            height: 52px;
            background-color: color(primary);
            border-radius: 50%;
            box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
            align-items: center;
            justify-content: center;

            ion-icon {
              color: #fff;
              width: 60%;
              height: 60%;
              margin-left: 5px;
            }
          }
        }
      }

    }

    .img {
      width: 50%;

      .plane:nth-child(1) {
        position: absolute;
        margin-top: 50px;
      }

      .plane:nth-child(2) {
        position: absolute;
        margin-top: 150px;
        margin-left: 450px;
        z-index: -1;
      }

      .fond {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 105%;
          margin-left: -100px;
        }
      }

    }
  }

  .category {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    align-items: center;
    margin-top: 70px;
    justify-content: space-between;

    .fond {
      position: absolute;
      right: 50px;
    }

    .titre {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h3 {
        font-family: 'Poppins';
        font-size: 18px;
        color: color(font);
        text-transform: uppercase;
        font-weight: 500;
      }

      h2 {
        font-family: 'Volkhov';
        color: color(font-light);
        font-size: 50px;
        text-transform: capitalize;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      .card {
        background: #fff;
        border-radius: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 314px;
        width: 250px;
        justify-content: space-around;

        .fond {
          display: none;
        }

        .icone {
          height: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .content {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: space-around;
          height: 50%;

          h3 {
            font-family: 'Open Sans';
            font-weight: 600;
            font-size: 20px;
            text-transform: capitalize;
            color: color(font-light);
          }

          p {
            font-family: 'Poppins';
            font-size: 16px;
            line-height: 26px;
            color: color(font);
            font-weight: 500;
            width: 75%;
            margin: auto;
          }
        }
      }

      .card:nth-child(1) {
        .fond {
          // display: flex;
          position: absolute;
          margin-top: 300px;
          left: 100px;
          z-index: -1;
        }
      }

      .card:nth-child(2) {
        .fond {
          // display: flex;
          position: absolute;
          margin-top: 300px;
          left: 420px;
          z-index: -1;
        }
      }

      .card:nth-child(3) {
        .fond {
          // display: flex;
          position: absolute;
          margin-top: 300px;
          left: 740px;
          z-index: -1;
        }
      }

      .card:nth-child(4) {
        .fond {
          // display: flex;
          position: absolute;
          margin-top: 300px;
          right: 340px;
          z-index: -1;
        }
      }

      .card:active {
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);

        .fond {
          display: flex;
        }
      }
    }
  }

  .destinations {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 170px;
    height: 80vh;
    justify-content: space-between;

    .fond {
      position: absolute;
      right: 90px;
      margin-top: 400px;
    }

    .titre {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      height: 20%;

      h3 {
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 18px;
        color: color(font);
      }

      h2 {
        font-family: 'Volkhov';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        text-transform: capitalize;
        color: color(font-light);
      }

    }

    .content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 70%;

      .card {
        width: 315px;
        height: 100%;
        border-radius: 24px;
        background: #fff;
        filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));

        .img {
          width: 100%;
          height: 70%;
        }

        .txt {
          display: flex;
          flex-direction: column;
          width: 85%;
          margin: auto;
          justify-content: space-around;
          height: 25%;

          .haut {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 18px;
            color: color(font);
          }

          .bas {
            display: flex;
            flex-direction: row;
            width: 45%;
            justify-content: space-between;
            font-family: 'Poppins';
            font-weight: 500;
            font-size: 16px;
            color: color(font);
          }
        }
      }

      .card:nth-child(1) {
        .img {
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(../images/pic_1.jpeg);
        }
      }

      .card:nth-child(2) {
        .img {
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(../images/pic_2.jpg);
        }
      }

      .card:nth-child(3) {
        .img {
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url(../images/pic_3.jpeg);
        }
      }
    }
  }

  .booking {
    margin-top: 170px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: $border-height blue solid;

    .txt {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      border: $border-height red solid;

      .titre {
        display: flex;
        flex-direction: column;

        h3 {
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 18px;
          color: color(font);
        }

        h2 {
          font-family: 'Volkhov';
          font-weight: 700;
          font-size: 50px;
          line-height: 64px;
          text-transform: capitalize;
          color: color(font-light);
          width: 90%;
        }
      }

      .content {
        display: flex;
        flex-direction: column;

        .cat {
          display: flex;
          flex-direction: row;
        }
      }
    }

    .card {
      border: $border-height red solid;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .smoll {
        display: none;
      }
    }
  }
}