@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Open+Sans:wght@600&family=Poppins:wght@500;600;700&family=Tangerine:wght@400;700&family=Volkhov:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: color(noir);
}

body {
  height: 800vh;
}

.forme {
  position: absolute;
  z-index: -5;
  right: 0;
  top: 0;
}

header {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 15vh;
  background-color: transparent;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  display: flex;
  align-items: center;
  width: 20%;
}
header .menu {
  display: flex;
  flex-direction: row;
  width: 70%;
}
header .menu ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
header .menu ul li {
  display: flex;
  list-style: none;
  align-items: center;
}
header .menu ul li a {
  display: flex;
  text-decoration: none;
  color: #212832;
  align-items: center;
}
header .menu ul li:nth-child(6) {
  border: #191919 1px solid;
  border-radius: 5px;
  padding: 0.5em 1em;
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
main .first {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  align-items: center;
}
main .first .txt {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80%;
}
main .first .txt .destination h3 {
  text-transform: uppercase;
  color: #DF6951;
  font-family: "Poppins";
  font-size: 20px;
}
main .first .txt .titre h1 {
  font-family: "Volkhov", serif;
  color: #181E4B;
  font-size: 84px;
  line-height: 89px;
}
main .first .txt .titre svg {
  position: absolute;
  left: 430px;
  top: 330px;
  z-index: -1;
}
main .first .txt .content {
  width: 70%;
}
main .first .txt .content p {
  font-family: "Poppins";
  color: #5E6282;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}
main .first .txt .cta {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}
main .first .txt .cta button:nth-child(1) {
  background-color: #F1A501;
  font-family: "Poppins";
  border: none;
  border-radius: 10px;
  padding: 1em 1.5em;
  font-weight: 500;
  color: #fff;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  width: 40%;
  cursor: pointer;
}
main .first .txt .cta button:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: "Poppins";
  font-size: 17px;
  text-transform: capitalize;
  color: #5E6282;
  width: 40%;
  justify-content: space-between;
  cursor: pointer;
}
main .first .txt .cta button:nth-child(2) .play {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: #DF6951;
  border-radius: 50%;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  align-items: center;
  justify-content: center;
}
main .first .txt .cta button:nth-child(2) .play ion-icon {
  color: #fff;
  width: 60%;
  height: 60%;
  margin-left: 5px;
}
main .first .img {
  width: 50%;
}
main .first .img .plane:nth-child(1) {
  position: absolute;
  margin-top: 50px;
}
main .first .img .plane:nth-child(2) {
  position: absolute;
  margin-top: 150px;
  margin-left: 450px;
  z-index: -1;
}
main .first .img .fond {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .first .img .fond svg {
  width: 105%;
  margin-left: -100px;
}
main .category {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60vh;
  align-items: center;
  margin-top: 70px;
  justify-content: space-between;
}
main .category .fond {
  position: absolute;
  right: 50px;
}
main .category .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
main .category .titre h3 {
  font-family: "Poppins";
  font-size: 18px;
  color: #5E6282;
  text-transform: uppercase;
  font-weight: 500;
}
main .category .titre h2 {
  font-family: "Volkhov";
  color: #181E4B;
  font-size: 50px;
  text-transform: capitalize;
}
main .category .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
main .category .content .card {
  background: #fff;
  border-radius: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 314px;
  width: 250px;
  justify-content: space-around;
}
main .category .content .card .fond {
  display: none;
}
main .category .content .card .icone {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .category .content .card .content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height: 50%;
}
main .category .content .card .content h3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  color: #181E4B;
}
main .category .content .card .content p {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 26px;
  color: #5E6282;
  font-weight: 500;
  width: 75%;
  margin: auto;
}
main .category .content .card:nth-child(1) .fond {
  position: absolute;
  margin-top: 300px;
  left: 100px;
  z-index: -1;
}
main .category .content .card:nth-child(2) .fond {
  position: absolute;
  margin-top: 300px;
  left: 420px;
  z-index: -1;
}
main .category .content .card:nth-child(3) .fond {
  position: absolute;
  margin-top: 300px;
  left: 740px;
  z-index: -1;
}
main .category .content .card:nth-child(4) .fond {
  position: absolute;
  margin-top: 300px;
  right: 340px;
  z-index: -1;
}
main .category .content .card:active {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
main .category .content .card:active .fond {
  display: flex;
}
main .destinations {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 170px;
  height: 80vh;
  justify-content: space-between;
}
main .destinations .fond {
  position: absolute;
  right: 90px;
  margin-top: 400px;
}
main .destinations .titre {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 20%;
}
main .destinations .titre h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
}
main .destinations .titre h2 {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-transform: capitalize;
  color: #181E4B;
}
main .destinations .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70%;
}
main .destinations .content .card {
  width: 315px;
  height: 100%;
  border-radius: 24px;
  background: #fff;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}
main .destinations .content .card .img {
  width: 100%;
  height: 70%;
}
main .destinations .content .card .txt {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  height: 25%;
}
main .destinations .content .card .txt .haut {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: #5E6282;
}
main .destinations .content .card .txt .bas {
  display: flex;
  flex-direction: row;
  width: 45%;
  justify-content: space-between;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  color: #5E6282;
}
main .destinations .content .card:nth-child(1) .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/pic_1.jpeg);
}
main .destinations .content .card:nth-child(2) .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/pic_2.jpg);
}
main .destinations .content .card:nth-child(3) .img {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/pic_3.jpeg);
}
main .booking {
  margin-top: 170px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px blue solid;
}
main .booking .txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  border: 1px red solid;
}
main .booking .txt .titre {
  display: flex;
  flex-direction: column;
}
main .booking .txt .titre h3 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
}
main .booking .txt .titre h2 {
  font-family: "Volkhov";
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #181E4B;
  width: 90%;
}
main .booking .txt .content {
  display: flex;
  flex-direction: column;
}
main .booking .txt .content .cat {
  display: flex;
  flex-direction: row;
}
main .booking .card {
  border: 1px red solid;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .booking .card .smoll {
  display: none;
}/*# sourceMappingURL=style.css.map */